
<head>
	<style type="text/css" media="all">
	   @import "css/index.css";
	</style>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOZYhoMiRLvCw7vDLPGmlfmRBlbqE0IXs&sensor=false"></script>

</head>
<body data-ng-app="crashrApp" data-ng-controller="eventsController">
	<div id="header">
		<center>
		<table width="100%">
			<tr>
			<td>
				<img src="img/menu_gps.png" border="0" height="50px">
			</td>
			<td width="100%">
				<center><img src="img/full_logo.png" alt="Logo" height="70px"></center>
			</td>
			<td>
				<img src="img/menu_message.png" border="0" height="50px">
			</td>
			</tr>
		</table>
		</center>	
	</div>
	<div class="middle draggable">
		<div id="pix">
			<center><img id="profile_img" data-ng-src="{{currentEvent.eventImage}}"></center>
			<center><div id="map-canvas" /></center>
		</div>
		<br>
		<center>
		<table width="90%">
			<tr>
			<td width="40%">&nbsp;</td>
			<td>
				<center>
				<table width="80%">
					<tr>
						<td><a id="no_img" data-ng-click="noEvent()"><img id="no_img" src="img/btn_like_pressed.png" class="likes"><a></td>
						<td><a id="info_img" data-ng-click="infoEvent()"><img id="info_img" src="img/btn_info_normal.png" class="info"></a></td>
						<td><a id="yes_img" data-ng-click="yesEvent()"><img id="yes_img" src="img/btn_like_normal.png" class="likes"></a></td>	
					</tr>
				</table>
				</center>
			</td>
			<td width="40%">&nbsp;</td>			
			</table>
		</center>	
		<br>			
		<div id="debug">{{string}}</div>
	</div>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
	<script type="text/javascript" src="js/directives.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
</body>
